# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Ignore environment variables file
.env

# Ignore Docker related temporary files
.dockerignore
.docker/

# Ignore Redis data files
dump.rdb

# Ignore test coverage files
.coverage
htmlcov/
.pytest_cache/

